#tipos {
    background-color: #CDCDCD;
}

.cor-amarelo-laranja {
    color: #EE5819
}

footer {
    background-color: #453943;
    color: white;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

